<%= form_for @video, html: { class: 'form-horizontal' } do |f| %>
  <% if @video.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@video.errors.count, "error") %> prohibited
        this video from being saved:
      </h2>
      <ul>
        <% @video.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <div class="col-lg-4">
    <p>
      <%= f.label :name %><br>
      <%= f.text_field :name, class: "form-control" %>
    </p>
   
    <p>
      <%= f.label :description %><br>
      <%= f.text_area :description, class: "form-control" %>
    </p>

    <p>
      <%= f.label :url %><br>
      <%= f.url_field :url, class: "form-control" %>
    </p>
   
    <p>
      <%= f.submit class: "btn btn-primary" %>
    </p>
  </div>
<% end %>