<h1>Car Video Listings</h1>
<% @videos.each do |video| %>
	<%= video.name %><br>
	<%= video.description %><br>
	<%= video.url %><br>
	|<%= link_to 'Edit', edit_video_path(video) %>|
	|<%= link_to 'Show', video_path(video) %>|
	|<%= link_to 'Delete', video_path(video), method: :delete, data: { confirm: "Are you sure?" } %>|
	<br><br>
<% end %>

<%= link_to "New Video", new_video_path %>